html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}


body {
    background-color: #456990;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}



/* For HERO-BANNER */
.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    url(/Users/blee/Documents/GitHub/nw_hacks_2022/img/banner.jpg);
    height: 450px;
    margin-top: 60px;
}

.hero-banner h1, h4 {
    color: white;
}


/* FOR NAV-BAR */
.navbar.scrolled {
    background-color: #25283D;
    transition: 700ms;
}

#mainNav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(255, 217, 0);
}


#mainNav .nav-link {
    color: white;
    font-weight: 350;
}

#mainNav .nav-link:hover {
    color: rgb(255, 217, 0);
}

#mainNav {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    
}

/* FOR PANEL: */
.panel {
    background-color: white ;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 960px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;  
}

/* Sections */




@media (max-width: 1300px) {
    #heading-group h1 {
        font-size: 2rem;
    }

    #description-group h1 {
        font-size: 1.5rem;
        font-weight: 100;
    
    }

    #description-group img {
        max-width: 20%;
    }

    #description-group p {
        font-size: 0.8rem;
        padding: 10px;
    
    }

}

@media (min-width: 992px) {

    section {
        margin-bottom: 50px;
    }

}




